/*************************************************** Text Colors/ Fonts **************************************************/


.c-font {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 100;
}

.txt-white {
	color: #FFFFFF;

}

.txt-black {
	color: #000000;

}


.font-3 {
  	font-size: 3.5rem;
}

/*************************************************** Positioning **************************************************/


.p-width{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	margin-top: 2%;
	letter-spacing: 0.1em;
	width:75%;
}


.flt-right {
	background-image: url("images/teams1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 33%;
	float: right;
	margin-left: 2rem;
	height: 14rem;
}

.flt-left {
	background-image: url("images/teams2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 33%;
	float: left;
	margin-right: 2rem;
	margin-top: 1rem;
	height: 14rem;
}


.flt-right-s {
	background-image: url("images/teams3.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 33%;
	float: right;
	margin-left: 2rem;
	height: 14rem;
}

.flt-left-s {
	background-image: url("images/teams4.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 33%;
	float: left;
	margin-right: 2rem;
	margin-top: 1rem;
	height: 14rem;
}


/*************************************************** Image Rendering **************************************************/


.bg1-image {
  	background-image: url("images/marble.jpg");
  	background-size: cover;
  	background-position: center;
  	width:100%;
}

.bg2-image {
  	background-image: url("images/log.jpg");
  	background-size: cover;
  	background-position: center;
  	width:100%;
  	height: 34rem;
}


.bg3-image {
  	background-image: url("images/bg1.jpg");
  	background-size: cover;
  	background-position: center;
  	width:100%;
}

.bg4-image {
  	background-image: url("images/p2.jpg");
  	background-size: cover;
  	background-position: center;
  	width:100%;
	height: 40rem;
}


.signup-image {
  	background-image: url("./images/p1.jpg");
  	background-size: cover;
  	background-position: center;
	height: 48rem;
}

/*************************************************** Nav Bar **************************************************/


.nav-scroller .nav {
	display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
	color: #FFFFFF;
	font-size: 1.2rem; /* Increase this value to make the font larger */
	padding-top: 20px; /* Adjust this value to center the text vertically */
	padding-bottom: 20px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
	color: #F8F9Fa;
}

.navbar-dark {
	background-color: #2C74B3;
}


.navbar {
	height: 5rem; /* Adjust this value to increase the height of the navbar */
}

/*************************************************** Login **************************************************/


.login-form {
	max-width: 400px;
	margin: 0 auto;
}

/*************************************************** Carousel **************************************************/


.carousel-control-prev, .carousel-control-next {
	width: 6%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	width: 28px;
	height: 28px;
}


.carousel1 {
  	background-image: url("./images/carousel1.jpg");
  	background-size: cover;
  	background-position: center;
	height: 40rem;
}

.carousel2 {
  	background-image: url("./images/network.png");
  	background-size: cover;
	background-position: center;
	height: 40rem;
}

.carousel3 {
  	background-image: url("./images/carousel2.jpg");
  	background-size: cover;
  	background-position: center;
	height: 40rem;
}


.rounded-img-placement
{
	margin-top: 3rem;
        width: 30rem; 
	height: 28rem;
}

/*************************************************** Cards **************************************************/


#card-title {
	margin-top: 6rem;
	margin-bottom: 4rem;

}

#cards 
{
	height:52rem;

}

.rounded-card-placement{
	margin-top: 1rem;
	margin-bottom: 1rem;
        width: 22rem; 
	height: 18rem;
}


/*************************************************** Misc. **************************************************/

.clearfix {
	clear: both;
}

.bdy1 {
	float:left;
}

.bdy2 {
	margin-top: 3rem;
}


h1 {
	margin-left: 6rem;

}


.pt {
padding-top: 6rem;
padding-bottom: 6rem;


}


.pt2 {
  padding-top: 8rem;
  padding-bottom: .5rem;
}

.logo-dim
{
        width: 33%; 
	height: 33%;
	margin-bottom: 1rem;
}

